


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #181818;
    margin: 0;
    padding: 0;
}
select {
    width: 50%; /* Make the select box full width */
    padding: 8px; /* Add some padding */
    margin: 10px 0; /* Add some margin above and below the select box */
    display: inline-block; /* Ensure the select box does not fill the entire width */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add some rounded corners */
    box-sizing: border-box; /* Adjust the box-sizing */
}

label {
    margin-bottom: 5px;
    display: inline-block;
}
iframe {
    transform: scale(3) translate(-50px, -50px);
    transform-origin: 100px 100px;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    /*//width: 80%; !* This is the current width setting, which is responsive *!*/
    max-width: 400px; /* This is the maximum width it can grow to */
    min-width: 400px; /* This is the minimum width it can shrink to */
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #9d9d9d;
    color: black;
}

.previous {
    background-color: #ddd;
    color: black;
    position: absolute;
    top: 50%;  /* This will center the button vertically */
    left: 0;  /* This will make the button hug the left wall */
    transform: translateY(-50%); /* This will ensure the button is truly vertically centered */
    left: 6px;
}

.next {

    background-color: #ddd;
    color: black;
    position: absolute;
    top: 50%;  /* This will center the button vertically */
    right: 0;  /* This will make the button hug the right wall */
    transform: translateY(-50%); /* This will ensure the button is truly vertically centered */
    right: 6px;
}

.round {
    border-radius: 50%;
}


.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
    max-width: 1200px;
}

.input {
    display: flex;
    align-items: center;
}



.input label {
    flex: 1; /* Allow label to grow as needed */
    text-align: left; /* Left-align the label text */
    margin-right: 10px; /* Space between the label and the input */
    margin-top: 5px;
    margin-bottom: 5px;
}

.input input[type="number"] {
    flex: 1; /* Allow input to take up the remaining space */
    max-width: 200px; /* Remove max-width to allow it to grow */

}

.input input[type="text"] {
    flex: 1; /* Allow input to take up the remaining space */
    max-width: 200px; /* Remove max-width to allow it to grow */

}

.input input[type="checkbox"] {
   margin-right: 185px;

}

.input input[type="color"] {
    margin-right: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input input[type="range"] {
    margin-right: 30px;

}

.range-container {
    display: flex;
    align-items: center;
}

.range-value {
    margin-left: 2px; /* Add some spacing between the range input and the value */
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.button-container button {
    display: block;
    margin-bottom: 5px;
}


.tooltip-icon {
    margin-right: 1px;
}

.input-label{
    margin-bottom: 1px;
}

.h2-tooltip {
    font-size: 1rem;
    vertical-align: middle;
}

.input label + * {
    box-sizing: border-box;
    max-width: 300px;
}

.description-header {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px; /* Add space below the headers */
    display: block; /* Ensure each header is on a new line */
}

.input input[type=text], .input input[type=number], textarea {
    flex: 1 1 100%;
    min-width: 0;
    width: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.target-preference-inputs {
    display: flex;
}





.bottom-buttons {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refresh-button {
    position: absolute;      /* Positioning relative to the container */
    bottom: 10px;            /* Distance from the bottom */
    left: 10px;              /* Distance from the left */
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 5px 10px;       /* Smaller padding */
    border: none;
    border-radius: 5px;
    font-size: 14px;         /* Smaller font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bottom-buttons:hover {
    background-color: #0056b3;
}

.bottom-buttons:active {
    background-color: #003d80;
}

.bottom-buttons:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
/* Container for the tabs */

/* Container for the tabs */
.tab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

/* Individual tabs */
.tab {
    padding: 10px 15px; /* Adjust padding to your preference */
    margin: 0;
    flex: 0 0 20%;
    box-sizing: border-box;
    background-color: #007bff; /* This is a generic blue, replace with your specific blue color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners for a button-like appearance */
    color: white; /* White text color for contrast */
    cursor: pointer; /* Changes the cursor to indicate the tab is clickable */
    text-align: center; /* Center the text inside the tab/button */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for tabs */
.tab:hover {
    background-color: #0056b3; /* Darker blue on hover, adjust the color to match your design */
}

/* Active tab style */
.tab.active {
    background-color: #004080; /* Even darker blue for the active tab */
    color: #fff;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 600px) {
    .tab {
        flex: 0 0 100%;
    }
}



.tablinks:first-child {
    position: absolute;
    left: 0;
    top: 0;
}

.tablinks {
    padding: 10px 15px;
    margin-bottom: -2px;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.tablinks:not(:last-child) {
    margin-right: 5px;
}

.tablinks:hover {
    background-color: #d0d0d0;
}

.tablinks.active {
    background-color: #007BFF;
    font-weight: bold;
    border-color: #007BFF;
    color: white;
}

.bottom-buttons.disabled {
    background-color: #a5a5a5;
    cursor: not-allowed;
    pointer-events: none;
    color: #777777;
}

.tablinks:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

iframe {
    pointer-events: auto;
}

.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;

}

.cpuButtons{
    margin-bottom: 10px;
}
.configHeader{
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -340px;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1000;
    color: #050505;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.sidebar-open {
    right: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


