select {
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add some rounded corners */
}

a {
    text-decoration: none;
    padding: 8px 16px;
}

a:hover {
    background-color: #9d9d9d;
    color: black;
}

.previous, .next {
    background-color: #ddd;
    color: black;
    position: absolute;
    top: 50%;  /* This will center the button vertically */
    border-radius: 50%;
}

.previous {
    left: 6px;
}

.next {
    right: 6px;
}

.button-container {
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    margin: 0 auto;
}

.button-container button {
    text-align: left;
    display: flex;
    gap: 1em;
}

.button-container > div {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.5em;
}

.clipboard-container {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    width: max-content;
    top: -100%;
    transform: translateX(-20%);
    background-color: #007BFF25;
    color: #003d80;
    padding: 0.5em;
    border-radius: 5px;
}

.h2-tooltip {
    font-size: 1rem;
    vertical-align: middle;
}

.description-header {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px; /* Add space below the headers */
    display: block; /* Ensure each header is on a new line */
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom-buttons {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.refresh-button {
    position: absolute;      /* Positioning relative to the container */
    bottom: 10px;            /* Distance from the bottom */
    left: 10px;              /* Distance from the left */
    padding: 5px 10px;       /* Smaller padding */
    font-size: 14px;         /* Smaller font size */
}

.bottom-buttons:hover {
    background-color: #0056b3;
}

.bottom-buttons:active {
    background-color: #003d80;
}

.bottom-buttons:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

/* Container for the tabs */
.tab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Individual tabs */
.tab {
    padding: 10px 15px; /* Adjust padding to your preference */
    margin: 0;
    box-sizing: border-box;
    background-color: #007bff; /* This is a generic blue, replace with your specific blue color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners for a button-like appearance */
    color: white; /* White text color for contrast */
    cursor: pointer; /* Changes the cursor to indicate the tab is clickable */
    text-align: center; /* Center the text inside the tab/button */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for tabs */
.tab:hover {
    background-color: #0056b3; /* Darker blue on hover, adjust the color to match your design */
}

/* Active tab style */
.tab.active {
    background-color: #004080; /* Even darker blue for the active tab */
    color: #fff;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 600px) {
    .tab {
        flex: 0 0 100%;
    }
}

iframe {
    pointer-events: auto;
}

.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.cpuButtons {
    margin-bottom: 10px;
}

.configHeader {
    text-align: center;
}

dialog.new-sidebar {
    margin: auto;
    border: none;
    box-shadow: 5px 5px 10px 0 black;
    max-width: 35rem;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.two-column-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.leave-triggers-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.leave-triggers-grid .column {
    grid-column: 1 / span 2;
}

.two-column-grid-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column-grid *, .leave-triggers-grid * {
    margin: 0.2em 0.5em;
}

input[type="checkbox"] {
    margin-right: auto;
}

.target-preference-list {
    display: flex;
    flex-direction: column;
}

.target-preference-list input {
    width: fit-content;
}
