select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    text-decoration: none;
    padding: 8px 16px;
}

a:hover {
    background-color: #9d9d9d;
    color: black;
}

.previous, .next {
    background-color: #ddd;
    color: black;
    position: absolute;
    top: 8px;
    border-radius: 50%;
}

.previous {
    left: 6px;
}

.next {
    right: 6px;
}

.home-page-buttons {
    display: inline-block;       
    font-size: 14px;       
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-content: center;
}

.home-page-buttons:hover {
    background-color: #0056b3;
    color: white;
}

.home-page-buttons:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

/* need to fix styling for portrait buttons */
.bottom-buttons {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    white-space: nowrap;
}

.bottom-buttons:hover {
    background-color: #0056b3;
    color: white;
}

.bottom-buttons:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.button-container {
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    margin: 0 auto;
}

.button-container button {
    text-align: left;
    display: flex;
    gap: 1em;
}

.button-container > div {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.5em;
}
/* end of button styling */

.clipboard-container {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    width: max-content;
    top: -100%;
    transform: translateX(-20%);
    background-color: #007BFF25;
    color: #003d80;
    padding: 0.5em;
    border-radius: 5px;
}

.h2-tooltip {
    font-size: 1rem;
    vertical-align: middle;
}

.description-header {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px;
    display: block;
}

.column {
    display: flex;
    flex-direction: column;
}

.tab-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tab {
    padding: 10px 15px;
    margin: 0;
    box-sizing: border-box;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #0056b3;
}

.tab.active {
    background-color: #004080;
    color: #fff;
}

@media (max-width: 600px) {
    .tab {
        flex: 0 0 100%;
    }
}

iframe {
    pointer-events: auto;
}

.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.configHeader {
    text-align: center;
}

dialog.new-sidebar {
    margin: auto;
    border: none;
    box-shadow: 5px 5px 10px 0 black;
    max-width: 35rem;
}

.close-btn {
    position: absolute;
    justify-content: center;
    top: 10px;
    right: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leave-triggers-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.leave-triggers-grid .column {
    grid-column: 1 / span 2;
}

.two-column-grid-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column-grid *, .leave-triggers-grid * {
    margin: 0.2em 0.5em;
}

.two-column-grid * {
    margin: 0.2em 0.5em;
}

input[type="checkbox"] {
    margin-right: auto;
}

input[type="file"] {
    display: none;
}

.upload-buttons {
    display: grid;
}

.upload-labels {
    display: grid;
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.portrait-div {
    margin: 0;
    margin-bottom: 0.5em;
}

.portrait-img {
    max-width: 300px;
}

input[type="file"] {
    display: none;
}

.upload-buttons {
    display: grid;
}

.upload-labels {
    display: grid;
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.portrait-div {
    margin: 0;
    margin-bottom: 0.5em;
}

.portrait-img {
    max-width: 300px;
}

.target-preference-list {
    display: flex;
    flex-direction: column;
}

.target-preference-list input {
    width: fit-content;
}

.warning {
    font-size: .625em;
    color: red;
    text-align: center;
}

.landing-page .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  

  .preview-frame {
    width: 700px;
    height: 500px;
    border: none;
  }
  

  .container {
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
  }
  

  .two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  

  @media (max-width: 800px) {
    .landing-page .content {
      flex-direction: column;
      align-items: center;
    }
    
    .preview-frame {
      width: 90%;
      height: auto;
    }
    
    .container {
      width: 90%;
    }
    
    .two-column-grid {
      grid-template-columns: 1fr;
    }
  }