body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

.content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    place-items: center;
    align-items: flex-start;
    padding: 1em;
    gap: 0.5em;
}

.container {
    width: clamp(20%, max-content, 80%);
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container h2 {
    text-align: center;
}

iframe {
    border: none;
    aspect-ratio: 81/48;
    width: 100%;
    overflow: hidden;
}

.welcome-image {
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}
