body {
    font-family: Arial, sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    width: 80%;
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

iframe {
    border: none;
    height: 500px;
}

.welcome-image {
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: 1em;
}


h1 {
    margin-bottom: 30px;
    color: #333;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

